{% extends 'base.html' %}


{% block content %}
    
<div class="container py-5">
    <h1 class="pb-3">Agregar Paciente</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
           
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
        {% for error in field.errors %}
            <p class="alert-danger">  {{ error }}  </p>
        {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
</div>

{% endblock content %}
 

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#persona').select2({
                placeholder: 'Buscar persona ...',
                allowClear:true
            }

            );
        });
    </script>
{% endblock scripts %}
    