{% extends 'base.html' %}


{% block title %}
    Establecimiento
{% endblock title %}
    

{% block content %}
    
<div class="container py-5">
    <h1 class="py-3">Datos del Establecimiento</h1>
    
    
    {% if establecimientos %}
    <div class="container py-5">
        
        
        <form method="post">
            {% csrf_token %}
            
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
    </div>
    {% else %}

    <h2>Aún no se cargaron datos</h2>
    <a href="{% url 'Odonto:agregar_establecimiento' %}" class="btn btn-primary">Cargas datos</a>
    {% endif %}
        
</div>

{% endblock content %}
 