{% extends 'base.html' %}


{% block title %}
    Agregar Profesional
{% endblock title %}
    
{% block content %}
    
<div class="container py-5">
    <h1 class="py-3">Agregar Profesional</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        
        {{profesional.as_p}}
        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
</div>

{% endblock content %}


{% block scripts %}
<script>
    $(document).ready(function() {
        $('#persona').select2({
            placeholder: 'Agregar persona ...',
            allowClear:true
        });
        
    });
</script>
{% endblock scripts %}
    