{% extends 'base.html' %}


{% block title %}
    Nuevo Turno
{% endblock title %}


{% block head %}
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock head %}
    
{% block content %}
    
<div class="container py-5">
    <h1 class="py-3">Nuevo Turno</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script>
        $(document).ready(function() {
            $('#id_paciente').select2({
                placeholder: 'Agregar paciente ...',
                allowClear:true
            }

            );
            $('#id_medico').select2({
                placeholder: 'Agregar profesional ...',
                allowClear:true
            }

            );
        });
</script>
{% endblock scripts %}
    