{% extends 'base.html' %}
{% load static %}

{% block title %}
    Turnos
{% endblock title %}


{% block head %}
    <link rel="stylesheet" href="{% static 'fullcalendar/lib/main.css' %}">
{% endblock head %}
    
{% block content %}
    
<div class="container py-5">
    <h1 class="py-3">Turnos</h1>
    <hr>
    <h3>Estado de turnos</h3>
    <br>
    <div class="py-2" style="color:white;">
      <span style="background-color: red;padding: 15px;">Turno cancelado</span>
      <span style="background-color: green;padding: 15px;">Turno confirmado</span>
      <span style="background-color: dodgerblue;;padding: 15px;">Turno Reservado</span>
    </div>
    <br>
    
    <div id="calendar"></div>
        
        
</div>


{% endblock content %}
    

{% block scripts %}
<script src="{% static 'fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'fullcalendar/lib/locales-all.js' %}"></script>
<script>
        document.addEventListener('DOMContentLoaded',function(){
            var calendarUI = document.getElementById("calendar")
           
            var calendar = new FullCalendar.Calendar(calendarUI,{
               
                headerToolbar: {
                    center: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek' // buttons for switching between views
                },
                views: {
                    timeGridFourDay: {
                    type: 'timeGrid',
                    duration: { days: 4 },
                    buttonText: '4 Dias'
                    }
                },
                timeZone: 'UTF-3',
                slotLabelFormat:{
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: true
                },//se visualizara de esta manera 01:00 AM en la columna de horas
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: true
                },
                hiddenDays: [ 0,6],
                events: [
                {% for turno in turnos %}
                        {
                            title:"{{turno.paciente}}",
                            
                            start:"{{turno.fecha|date:'Y-m-d'}}T{{turno.fecha|time:'H:i'}}",
                            url:"{% url 'Odonto:editar_turno' turno.id %}",
                            {% if turno.estado == 'Cancelado' %}
                                color:"red"
                            {% elif turno.estado == 'Confirmado' %}
                              color:'green'
                            {% endif %}
                            
                        },
                {% endfor %}
                ],
                color:'pink',
                selecteable:true,
                eventClick: function(info) {
                  info.jsEvent.preventDefault(); // don't let the browser navigate

                  if (info.event.url) {
                    window.open(info.event.url,"_self");
                  }
                }
            });
            calendar.render();
            calendar.setOption('locale','es');
        });
    </script>    
{% endblock scripts %}
    